<html lang="en">
    {{> head }}
    <body>
        {{> navbar }}
        <main>
            <div class="container">
                {{> breadcrumbs}}
                {{{ body }}}
            </div>
        </main>
        {{> footer }}
    </body>
</html>

