<div class="parallax-container">
    <div class="parallax">
        <img
            src="./img/parallax/ilya-pavlov-OqtafYT5kTw-unsplash.jpg"></div>
    </div>
    <div class="section white">
        <div class="row container">
            <h1>About page</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti,
                recusandae unde exercitationem facilis quidem aliquid accusantium cum facere,
                necessitatibus deserunt reiciendis placeat maiores iure autem, rerum enim
                consequatur eveniet. Sit amet quaerat libero! Accusantium labore dolores veniam
                natus repudiandae facere maxime non vero, numquam rem commodi, quidem suscipit
                voluptatem possimus, autem debitis! Magnam id, laborum enim accusantium delectus
                temporibus maiores. Iure voluptate, rerum vel, ipsum libero dicta cupiditate
                magnam repellat reiciendis unde placeat optio deserunt perferendis excepturi
                nihil debitis dolorem! In totam dolorem, ad omnis necessitatibus, odio dolorum
                deserunt culpa similique rem quidem mollitia harum aliquam vero. Ratione numquam
                repudiandae eum dolore fugiat obcaecati aliquid quam cupiditate dolorum eveniet
                nemo dolorem suscipit quidem ut, quas rerum, incidunt at animi nesciunt ducimus
                qui amet maiores porro quisquam! Ea sunt laborum itaque ut iusto molestiae
                eveniet, ad, hic exercitationem officia ullam perspiciatis neque iste. Minima
                voluptatum aliquid magnam exercitationem rem! Doloribus eveniet ratione, sit
                labore saepe itaque amet rem beatae, reiciendis ab quaerat debitis aliquid vitae
                aliquam. Nulla, ea exercitationem officiis autem eius temporibus minus, vitae
                repudiandae totam voluptatibus ipsum quas cum dolore porro. Quod sunt quibusdam,
                accusamus iste magni tenetur? Placeat sapiente officiis dolorem perspiciatis
                itaque quae, magni non natus accusantium.</p>

        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img
                src="https://images.unsplash.com/photo-1658157309924-cc80406f76ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"></div>
        </div>

    </div>