<h1>All courses</h1>
{{#if courses.length}}
<div class="row">
{{#each courses}}
    {{> card}}
  {{/each}}
    </div>
    {{#if pagination}}
    {{> pagination}}
    {{/if}}
{{else}}
<p>Courses is don`t have</p>
{{/if}}