<h1>{{title}}</h1>

{{#if courses.length}}
<div class="row" id="favorite">
{{#each courses}}
    {{> card}}
  {{/each}}
    </div>
    {{#if pagination}}
    {{> pagination}}
    {{/if}}
{{else}}
    <p>Sorry your favorite list is empty...</p>
{{/if}}
